:root {
  --main-teal: #66fcf1;
  --bg-black: #132032;
  --main-text: #c5c6c7;
  --dark-teal: #45a29e;
  --bg-light-black: #1f2833;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.header-container {
  display: flex;
  width: 100%;
  user-select: none;
}

.maintenance-title {
  max-width: 1050px;
  font-weight: 700;
  padding: 12px 24px;
  text-align: center;
  font-size: 2rem;
  color: var(--main-teal);
}

.pool-details {
  padding: 30px 24px;
  text-align: center;
  font-size: 18px;
}

.individual-info {
  padding: 8px;
  overflow-wrap: break-word;
}

.logo-container {
  width: 480px;
  position: relative;
  left: calc(50% - 240px);
  transition: all 1s;
  margin-bottom: 440px;
}

.logo_component {
  width: 100%;
  position: absolute;
}

.static_logo {
  filter: drop-shadow(0px 0px 40px var(--main-teal));
  transition: 0.1s all;
}
.spinner {
  transition: 0.5s all;
  transform: rotate(90deg) scale(1.5);
}
body {
  background: var(--bg-black);
  color: var(--main-text);
}

.flex {
  display: flex;
}

.specification-card-container {
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 16px 0;
  max-width: 70vw;
  width: 810px;
  margin: auto;
}

.individual-card {
  padding: 24px;
  min-width: 25%;
  text-align: center;
  font-size: 1.3rem;
  width: fit-content;
}
.individual-card .card-header {
  min-height: 70px;
  color: var(--main-teal);
}

.individual-card p {
  word-wrap: break-word;
}

@media (max-width: 1055px) {
  .specification-card-container {
    flex-direction: column;
  }

  .logo-container {
    width: 80%;
    margin-top: 10px;
    left: calc(50% - 40%);
    margin-bottom: 10px;
    overflow: hidden;
    height: 690px;
  }
}

@media (max-width: 768px) {
  .specification-card-container {
    flex-direction: column;
    padding-top: 50px;
  }

  .individual-card {
    width: 100%;
    padding: unset;
  }

  .logo-container {
    margin-bottom: 20px;

    height: 500px;
  }
}

a {
  color: var(--main-teal);
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap: 20px;
  margin-bottom: 20px;
  max-width: 700px;
  margin: 1rem auto 1rem auto;
}

.grid-header {
  text-align: center;
  background-color: var(--bg-light-black);
  height: 2rem;
  line-height: 2rem;
  color: var(--main-teal);
}

.individual-info {
  background-color: var(--dark-teal);
  color: var(--bg-black);
  font-weight: 600;
}

.more-info {
  overflow-wrap: break-word;
}

.history-container {
  margin: auto;
  text-align: center;
  max-width: 250px;
}
#history-header {
  color: var(--main-teal);
  margin-top: 0;
}
#history {
  line-height: 2rem;
  margin-bottom: 32px;
  text-align: left;
  padding-left: 32px;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

iframe {
  border: 0.1rem solid var(--main-teal);
}

@media only screen and (max-width: 670px) {
  iframe {
    width: 75%;
    height: 300px;
  }
}

.epoch {
  position: relative;
}

.perfect {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 10px;
}

.price-container {
  width: 178px;
  position: fixed;
  top: 50px;
  /* transform: translateX(-178px); */
  transition: 0.3s all;
  transform: translateX(-180px);
  z-index: 1000;
}

.ada-graph {
  /* filter: hue-rotate(140deg); */
  filter: brightness(0);
}

.current-price {
  text-align: center;
  padding: 16px 0;
  font-weight: bold;
}

.ada-button {
  transition: 0.3s all;

  position: absolute;
  top: 0;
  cursor: pointer;
  left: 180px;
  width: 48px;
  border-radius: 44px;
  height: 48px;
  background-color: var(--dark-teal);
}

.show-ada {
  transform: translateX(0px);
}

.toggle-show-ada-button {
  filter: drop-shadow(0px 0px 4px var(--main-teal));
}

.api-link {
  color: black;
  text-decoration: none;
}

.retired {
  color: var(--dark-teal);
  padding: 0px 140px;
}

@media only screen and (max-width: 880px) {
  .retired {
    
    padding: 0px 10px;
    font-size: 24px;
  }
  
}
